.clients__wrap {
  display: grid;
  // padding: 0 3rem;
  // grid-template-columns: 10.4rem 14.5rem 17rem 15.1rem 12.9rem 13.2rem;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-bottom: 17.5rem;
}

@media (max-width: 48em) {
  .clients__wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    // width: 100%;
    // justify-content: center;
    padding: 0;
    margin-bottom: 12.9rem;
  }
}
