.bonus-delivery {
  width: 36.3rem;
  padding-left: 1.7rem;

  :first-child {
    margin-left: -0.5rem;
  }
}

@media (max-width: 48em) {
  .bonus-delivery {
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 4rem;
    max-width: 100%;

    :first-child {
      margin-left: 0rem;
    }
  }
}
